<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>2f70e1</string>
		<key>name</key>
		<string>infoBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>53d76a</string>
		<key>name</key>
		<string>success</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ddaa3b</string>
		<key>name</key>
		<string>warning</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ff3a28</string>
		<key>name</key>
		<string>warning</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e5000f</string>
		<key>name</key>
		<string>danger</string>
	</dict>
	<dict>
		<key>color</key>
		<string>1ca0aa</string>
		<key>name</key>
		<string>teal</string>
	</dict>
	<dict>
		<key>color</key>
		<string>6799aa</string>
		<key>name</key>
		<string>steelBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8ddaf7</string>
		<key>name</key>
		<string>robinEgg</string>
	</dict>
	<dict>
		<key>color</key>
		<string>63a1f7</string>
		<key>name</key>
		<string>pastelBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>70dbdb</string>
		<key>name</key>
		<string>turquoise</string>
	</dict>
	<dict>
		<key>color</key>
		<string>00b2ee</string>
		<key>name</key>
		<string>skyBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>0d4f8b</string>
		<key>name</key>
		<string>indigo</string>
	</dict>
	<dict>
		<key>color</key>
		<string>4372aa</string>
		<key>name</key>
		<string>denim</string>
	</dict>
	<dict>
		<key>color</key>
		<string>5971ad</string>
		<key>name</key>
		<string>blueberry</string>
	</dict>
	<dict>
		<key>color</key>
		<string>6495ed</string>
		<key>name</key>
		<string>cornflower</string>
	</dict>
	<dict>
		<key>color</key>
		<string>bedce6</string>
		<key>name</key>
		<string>babyBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>0d1a23</string>
		<key>name</key>
		<string>midnightBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>17899b</string>
		<key>name</key>
		<string>fadedBlue</string>
	</dict>
	<dict>
		<key>color</key>
		<string>c8d5db</string>
		<key>name</key>
		<string>iceberg</string>
	</dict>
	<dict>
		<key>color</key>
		<string>66a9fb</string>
		<key>name</key>
		<string>wave</string>
	</dict>
	<dict>
		<key>color</key>
		<string>019875</string>
		<key>name</key>
		<string>emerald</string>
	</dict>
	<dict>
		<key>color</key>
		<string>63d64a</string>
		<key>name</key>
		<string>grass</string>
	</dict>
	<dict>
		<key>color</key>
		<string>7ef27c</string>
		<key>name</key>
		<string>pastelGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>4de28c</string>
		<key>name</key>
		<string>seafoam</string>
	</dict>
	<dict>
		<key>color</key>
		<string>b0e2ac</string>
		<key>name</key>
		<string>paleGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>636f57</string>
		<key>name</key>
		<string>cactusGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>458b00</string>
		<key>name</key>
		<string>chartreuse</string>
	</dict>
	<dict>
		<key>color</key>
		<string>20570e</string>
		<key>name</key>
		<string>hollyGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>5b7222</string>
		<key>name</key>
		<string>olive</string>
	</dict>
	<dict>
		<key>color</key>
		<string>6b8e23</string>
		<key>name</key>
		<string>oliveDrab</string>
	</dict>
	<dict>
		<key>color</key>
		<string>86c67c</string>
		<key>name</key>
		<string>moneyGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>d8ffe7</string>
		<key>name</key>
		<string>honeydew</string>
	</dict>
	<dict>
		<key>color</key>
		<string>38ed38</string>
		<key>name</key>
		<string>lime</string>
	</dict>
	<dict>
		<key>color</key>
		<string>57796b</string>
		<key>name</key>
		<string>cardTable</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e9575f</string>
		<key>name</key>
		<string>salmon</string>
	</dict>
	<dict>
		<key>color</key>
		<string>971b10</string>
		<key>name</key>
		<string>brickRed</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f1a7a2</string>
		<key>name</key>
		<string>easterPink</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e41f36</string>
		<key>name</key>
		<string>grapefruit</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e15f9a</string>
		<key>name</key>
		<string>pink</string>
	</dict>
	<dict>
		<key>color</key>
		<string>cd5c5c</string>
		<key>name</key>
		<string>indianRed</string>
	</dict>
	<dict>
		<key>color</key>
		<string>be2625</string>
		<key>name</key>
		<string>strawberry</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f08080</string>
		<key>name</key>
		<string>coral</string>
	</dict>
	<dict>
		<key>color</key>
		<string>50041c</string>
		<key>name</key>
		<string>maroon</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f2473f</string>
		<key>name</key>
		<string>watermelon</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ff6347</string>
		<key>name</key>
		<string>tomato</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ff69b4</string>
		<key>name</key>
		<string>pinkLipstick</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ffe4e1</string>
		<key>name</key>
		<string>paleRose</string>
	</dict>
	<dict>
		<key>color</key>
		<string>bb1224</string>
		<key>name</key>
		<string>crimson</string>
	</dict>
	<dict>
		<key>color</key>
		<string>690562</string>
		<key>name</key>
		<string>eggplant</string>
	</dict>
	<dict>
		<key>color</key>
		<string>cf64eb</string>
		<key>name</key>
		<string>pastelPurple</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e5b4eb</string>
		<key>name</key>
		<string>palePurple</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8c5de4</string>
		<key>name</key>
		<string>coolPurple</string>
	</dict>
	<dict>
		<key>color</key>
		<string>bf5fff</string>
		<key>name</key>
		<string>violet</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8b668b</string>
		<key>name</key>
		<string>plum</string>
	</dict>
	<dict>
		<key>color</key>
		<string>cc99cc</string>
		<key>name</key>
		<string>lavender</string>
	</dict>
	<dict>
		<key>color</key>
		<string>872657</string>
		<key>name</key>
		<string>raspberry</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ff1493</string>
		<key>name</key>
		<string>fuschia</string>
	</dict>
	<dict>
		<key>color</key>
		<string>360b58</string>
		<key>name</key>
		<string>grape</string>
	</dict>
	<dict>
		<key>color</key>
		<string>879fed</string>
		<key>name</key>
		<string>periwinkle</string>
	</dict>
	<dict>
		<key>color</key>
		<string>da70d6</string>
		<key>name</key>
		<string>orchid</string>
	</dict>
	<dict>
		<key>color</key>
		<string>d7aa33</string>
		<key>name</key>
		<string>goldenrod</string>
	</dict>
	<dict>
		<key>color</key>
		<string>c0f227</string>
		<key>name</key>
		<string>yellowGreen</string>
	</dict>
	<dict>
		<key>color</key>
		<string>e5e33a</string>
		<key>name</key>
		<string>banana</string>
	</dict>
	<dict>
		<key>color</key>
		<string>cdab2d</string>
		<key>name</key>
		<string>mustard</string>
	</dict>
	<dict>
		<key>color</key>
		<string>fef1b5</string>
		<key>name</key>
		<string>buttermilk</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8b7512</string>
		<key>name</key>
		<string>gold</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f0e2bb</string>
		<key>name</key>
		<string>cream</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f0eed7</string>
		<key>name</key>
		<string>lightCream</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f0eed7</string>
		<key>name</key>
		<string>wheat</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f5f5dc</string>
		<key>name</key>
		<string>beige</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f2bb61</string>
		<key>name</key>
		<string>peach</string>
	</dict>
	<dict>
		<key>color</key>
		<string>b86625</string>
		<key>name</key>
		<string>burntOrange</string>
	</dict>
	<dict>
		<key>color</key>
		<string>f8c58f</string>
		<key>name</key>
		<string>pastelOrange</string>
	</dict>
	<dict>
		<key>color</key>
		<string>fa9a4f</string>
		<key>name</key>
		<string>cantaloupe</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ed9121</string>
		<key>name</key>
		<string>carrot</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ed9137</string>
		<key>name</key>
		<string>mandarin</string>
	</dict>
	<dict>
		<key>color</key>
		<string>c73f17</string>
		<key>name</key>
		<string>chiliPowder</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8a360f</string>
		<key>name</key>
		<string>burntSienna</string>
	</dict>
	<dict>
		<key>color</key>
		<string>5e2605</string>
		<key>name</key>
		<string>chocolate</string>
	</dict>
	<dict>
		<key>color</key>
		<string>8d3c0f</string>
		<key>name</key>
		<string>coffee</string>
	</dict>
	<dict>
		<key>color</key>
		<string>7b3f09</string>
		<key>name</key>
		<string>cinnamon</string>
	</dict>
	<dict>
		<key>color</key>
		<string>c48e48</string>
		<key>name</key>
		<string>almond</string>
	</dict>
	<dict>
		<key>color</key>
		<string>fce6c9</string>
		<key>name</key>
		<string>eggshell</string>
	</dict>
	<dict>
		<key>color</key>
		<string>deb697</string>
		<key>name</key>
		<string>sand</string>
	</dict>
	<dict>
		<key>color</key>
		<string>462d1d</string>
		<key>name</key>
		<string>mud</string>
	</dict>
	<dict>
		<key>color</key>
		<string>a0522d</string>
		<key>name</key>
		<string>sienna</string>
	</dict>
	<dict>
		<key>color</key>
		<string>ecd6c5</string>
		<key>name</key>
		<string>dust</string>
	</dict>
</array>
</plist>
