<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AxReminder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC2D37811F1C8FB600DFA819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC8DD7AE1F00D6C9006D9706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC8DD7C51F00D6C9006D9706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC8DD7D01F00D6C9006D9706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
